/* Estilo General*/
body{
  margin: 10px;
  padding: 50px;
  font-family: monospace;
}
/* Estilo Del texto (Botones)*/
a{
  color: #CD163F;
  text-decoration: none;
}
/* Estilo de Viñetas*/
ul{
  list-style: none;
}

/*Flexbox*/

nav{
  display: flex;
  justify-content: center;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px ;
}

/*Hover*/

a:hover{
  color: #F58025;
  transform: scale(1.2);
  transition: color 0.3s ease;
}

/* Personalización*/

ul {
  background-color: #E6E7E8;
  box-shadow: 0px 2px 5px gray;
  padding: 10px;
}
